
<!-- <div class="input-group">
    <input class="form-control input active" [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)" placeholder="yyyy-MM-dd hh:mm a" tabindex="0" type="text">
    <div ref="suffix" class="input-group-append">
      <span class="input-group-text">
        <i style="" class="fa fa-calendar" ref="icon"></i>
      </span>
    </div>
</div> -->

<input type="text" 
       [(ngModel)]="value" 
       (ngModelChange)="valueChange.emit($event)"
       [placeholder] = "placeholder"  
       class="form-control"  />
<div ref="suffix" class="input-group-append">
  <span class="input-group-text">
    <i class="fa fa-calendar" ref="icon"></i>
  </span>
</div>