/* POSITIONING */

.flex {
    display: flex;
}

.layout-column {
    flex-direction: column;
}

.layout-row {
    flex-direction: row;
}

.layout-masonry {
    flex-direction: column;
}

.layout-wrap {
    flex-wrap: wrap;
}

.layout-nowrap {
    flex-wrap: nowrap;
}

.art-border-off {
    border:none;
}

.art-borders-add {
    border:1px solid #cccc;
}

.art-borders-add-bottom {
    border-bottom:1px solid #cccc;
}

.yellow {
    border:10px solid #000;
}