@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~formiojs/dist/formio.full.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "settings.css";


.mat-tab-body-content {
  overflow: hidden !important;
}

.builder-component {
    background-color: #fff;
    padding:20px;
}

.builder-component input {
  outline:none;
  border:none;
  border-bottom:1px solid #ccc;
  border-radius:0;
}

.builder-component .form-control:focus {
  box-shadow:none;
}

.builder-component input:focus {
  outline:none;
  border:none;
  border-bottom:1px solid #0062cc;
}

.formio.row {
  flex-flow:row-reverse;
}

.header-sidebar {
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  flex-flow:row;
  justify-content: space-between;
  background-color: #fff;
}

.header-sidebar .header-sidebar__item {
  list-style:none;
  margin-right: 10px;
  padding: 4px 9px;
  background-color: #fff;
  transition: all ease-in 0.1s;
  cursor: pointer; 
}

.header-sidebar .header-sidebar__item:last-child {
  margin-right: 0;
}

.header-sidebar .header-sidebar__item:hover {
  background-color: #007bff;
  color:#fff;
}
/* 
tbody['ref'=datagrid-schema.varcol-tbody],
tbody['ref'=datagrid-schema.varwidth-tbody],
tbody['ref'=datagrid-schema.visibility-no-grid-tbody] {
  
} */

.choices__list--single .choices__item--selectable span {
  white-space: nowrap;
  overflow: hidden;
}

.choices__list--single .choices__item {
  overflow: hidden;
}

.has-feedback .form-control.selection {
  padding-right: 50px;
}

.formio-edit-form__h {
  font-size: 12px;
}

/* .builder-component .tooltip {
  display:none;
} */

.builder-component {
  padding:0;
}

.builder-component__edit {
  padding: 15px;
}

.formio-edit-form__head {
  background: #fafafa;
  padding-top: 23px;
  padding-bottom: 23px;
  display:flex;
  justify-content: space-between;
}

.formio-edit-form__btn .btn {
  padding: 1px 6px;
}

.formio-edit-form__btn i {
  font-size: 16px;
}

.formbuilder .formio-edit-form__accord .formio-component-form {
  height: auto;
  text-align: left;
  color: inherit;
  padding-top: 0;
  border:none;
}

.formbuilder .tab-pane.container {
  padding:0;
}

.formbuilder .formcomponents .formcomponents-cont {
  background-color: #fff;
}

.formbuilder .nav-tabs {
  justify-content: center;
}

.formbuilder .card.no-radius,
.formbuilder .card-header.no-radius,
.formbuilder .card-header.no-radius button {
  border-radius:0;
}

.formcomponents-cont {
  position: fixed;
  right:50px;
  width: 332px;
  min-height: 160px;
  transition: all .1s ease-out;
  transform: translateY(0px);
  z-index: 3;
}

.formcomponents-cont .tab-content {
  height: 87vh;
  overflow: auto;
}

.formcomponents.sticky .formcomponents-cont {
  transform: translateY(-100px);
  transition: all .4s ease-out;
}

/* layout for rows --start */

.form-group.row-container {
  display: flex;
}

.form-group.row-container fieldset {
  flex-grow: 1;
}

.form-group.row-container fieldset .formio-component-FIELDSET_MAIN .builder-components {
  flex-flow:column;
}

.form-group.row-container fieldset .formio-component-FIELDSET_MAIN .builder-components fieldset .builder-components {
  display: flex;
  flex-flow:row;
}

.form-group.row-container fieldset .formio-component-FIELDSET_MAIN 
.builder-components fieldset .builder-components .builder-component {
  flex-grow: 1;
}

/* layout for rows --end */

.formio-builder-components .builder-component .form-group,
.form-group.formio-component {
  margin-bottom: 0;
}

.formio-component {
  font-size: 14px;
}

.formio-component .btn, .formio-component .form-control {
  font-size: 0.9rem;
} 


.drag-container {
  padding:0;
}

.formio-builder-components .builder-component__edit {
  width: 100%;
}

.builder-component__back {
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

.form-control {
  border:none;
  border-bottom: 1px solid #ced4da;
  border-radius:0;
}

formio-input-date.form-control-custom-field {
  display: flex;
  border: none;
  padding: 0;
}

formio-input-date.form-control-custom-field[type='hidden'] {
  display: none;
}

label.border-label {
  border: 1px solid red;
  padding:10px;
}


.formio-choices.is-open .form-control.dropdown {
  overflow: visible;
}

.formio-choices .form-control.dropdown {
  overflow: hidden;
}

.edit-form-loader {
  position: absolute;
  width:100%;
  height:100%;
  left:0;
  top:42px;
  z-index: 10;
  background-color: #fff;
  transition: all .3s ease-in;
}

.edit-form-loader.none {
  opacity: 0;
  z-index: -1;
}

.lds-roller {
  display: inline-block;
  position: absolute;
  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #007bff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
